<div class="top-header-nav">
    <!----start-top-nav---->
    <nav class="top-nav main-menu">
        <ul class="top-nav">
            <li><a href="products.html">PRODUCTS </a><span> </span></li>
            <li><a href="products.html">CAMPAINGS</a><span> </span></li>
            <li><a href="products.html">SERVICES</a><span> </span></li>
            <li><a href="products.html">BRANDS</a><span> </span></li>
            <li><a href="products.html">ABOUT US</a></li>
            <div class="clearfix"> </div>
        </ul>
        <a href="#" id="pull"><img src="~/images/nav-icon.png" title="menu" /></a>
    </nav>
    <!----End-top-nav---->
    <!---top-header-search-box--->
    <div class="top-header-search-box">
        <form>
            <input type="text" placeholder="Search" required / maxlength="22">
            <input type="submit" value=" ">
        </form>
    </div>
    <!---top-header-search-box--->
    <div class="clearfix"> </div>
</div>